<link rel="stylesheet" type="text/css" href="css/stylesheet.css">
<h1>Your food genre is<br></h1>
<h3>
  <% y = @jank.get_cuisines %>
  <% x = @foodtype.keys[rand(@foodtype.keys.length)] %>
  <%= y[x.to_i] %>
</h3>
<a href="/">Return Home</a>