<link rel="stylesheet" type="text/css" href="css/stylesheet.css">
<h1>Specific Foods</h1>
<h2>Which Specific Types of Food Are You Choosing Between?</h2>
<p>Please hit enter in between each food choice</p>
  <form method="POST" action="restaurant">
    <textarea id="txtArea" rows="10" cols="70" name="foodchoice"></textarea><br>
    <input type="submit">
</form>
