<h1>Food Types</h1>
<h2>Which Cuisine Types Are You Choosing Between?</h2>
<p>Please hit enter in between cuisine choices</p>
  <form method="POST" action="restaurants">
    <textarea id="txtArea" rows="10" cols="70"></textarea>
  </form>
<input type="submit">