<link rel="stylesheet" type="text/css" href="css/foodtype.css">
<h1>What genre of food would you like to eat from?<br>
    (You can choose more than one)</h1>
<form method="POST" action="displayfoodtype">
  <ul><% @jank.get_cuisines.each do |x| %>
    <li><input type="checkbox" name=<%= @jank.get_cuisines.find_index(x) %> ><%= x %></li>
    <% end %>
  </ul>
  <input type="submit" value="Enter"/>
</form>
<p><br>Provided through the courtesy of the BBC corporation</p>