<!DOCTYPE html>
<html>
  <head><title>Lettuce,Turnip,The Beet</head></title>
  
  <body>
    <h1>Lettuce, Turnip, The Beet</h1>
    <p>A food randomizer for when you can't decide</p>
    <button type="button"><a href="/restaurant">Restaraunt Randomizer</a></button>
    <p>If you have restaraunts in mind</p>
    <button type="button"><a href="/foodtype">Food Type Randomizer</a></button>
    <p>If you can't decide on a food type</p>
    <button type="button">Food Randomizer</button>
    <p>If you have too much food and don't know what you want</p>
  </body>
  
</html>

