<!DOCTYPE html>
<html>
  
  <head>
    <title>Lettuce,Turnip,The Beet</title>
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
  </head>

    <body>
      <h1>Lettuce, Turnip, The Beet</h1>
      <button type="button" class="button"><a href="http://mariamk24-pc-15-precollege-se1-sfpa-062915-1-109838.nitrousapp.com:9393/restaurant"><font size =4>Restaurant Randomizer</font></a></button>
      <p>If you have restaurants in mind</p>
      <button type="button" class="button"><a href="http://mariamk24-pc-15-precollege-se1-sfpa-062915-1-109838.nitrousapp.com:9393/food-types"><font size =4>Food Type Randomizer</font></a></button>
      <p>If you can't decide on a food type</p>
      <button type="button" class="button"><a href="http://mariamk24-pc-15-precollege-se1-sfpa-062915-1-109838.nitrousapp.com:9393/food-specs"><font size =4>Food Randomizer</font></a></button>
      <p>If you have too much food and can't decide</p>
    </body>
</html>

