<!DOCTYPE html>
<html>
  <head>
    <title>Lettuce,Turnip,The Beet</title>
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
  </head>

  <body>
    <p>A food randomizer for when you can't decide</p>
    <button type="button"><a href="/restaurant">Restaraunt Randomizer</a></button>
    <p>If you have restaraunts in mind</p>
    <button type="button"><a href="/foodtype">Food Type Randomizer</a></button>
    <p>If you can't decide on a food type</p>
    <button type="button" class="button"><a href="/food-specs"><font size =4>Food Randomizer</font></a></button>
    <p>If you have too much food and can't decide</p>
  </body>
</html>

