<link rel="stylesheet" type="text/css" href="css/stylesheet.css">
<h1>Restaurants</h1>
<h2>Which Restaurants Are You Choosing Between?</h2>
<p>Please hit enter in between restaurant choices</p>
<form method="POST" action="restaurant">
  <textarea id="txtArea" rows="10" cols="70" name="foodchoice"></textarea><br>
  <input type="submit">
  
</form>

<form method="POST" action="cipher">
  <textarea id="txtArea" rows="10" cols="70" name="cipherable"></textarea><br>
  K value: <input type="text" name="k" value="int"/><br>
  <input type="submit" value="Cipher your info!">
</form> 
