<h1>Restaurants</h1>
<h2>Which Restaurants Are You Choosing Between?</h2>
<p>Please hit enter in between restaurant choices</p>
  <form method="POST" action="/restaurant">
    <textarea id="txtArea" name="foodchoice" rows="10" cols="70"></textarea>
    <input type="submit">
  </form>
