<link rel="stylesheet" type="text/css" href="css/stylesheet.css">
<h1>Restaurants</h1>
<h2>Which Restaurants Are You Choosing Between?</h2>
<p>Please hit enter in between restaurant choices</p>
  <form method="POST" action="restaurants">
    <textarea id="txtArea" rows="10" cols="70"></textarea><br>
    <input type="submit">
  </form>
